# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
.expo/
.turbo/
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example

# supabase local
supabase/.branches/
supabase/.temp/

# testes
coverage/
playwright-report/
test-results/

# editores / SO
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*
